.fogotp-container {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fogotp-container h2 {
  margin-bottom: 20px;
    font-size: 30px;
  
}

.fogotp-label {
  display: block;
    font-size: 30px;
    margin-bottom: 5px;
}

.fogotp-input {
  width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 5px;}

.fogotp-button {
  width: 100%;
    padding: 10px;
    border: none;
    background: #fff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
}

.fogotp-button:hover {
    color: #ffffff;
  background-color: #00b345;
}
