   /* Container */
   .container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Form Box */
  .form-box {
    background: #111;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.9), #3d3d3d), url(../../img/loginPattern.png) ;
    color: #ffffff;
    background-repeat: repeat;
    background-size: 600px 600px;
    padding: 40px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    
  }
  
  /* Heading */
  h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  /* Input Groups */
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 5px;
  }
  .input-groupt{
    
  }
  
  .input-group input:focus {
    outline: none;
    border-color: #aaa;
  }
  
  /* Button */
  .container_login button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #fff;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
  }
  
  .container_login button:hover {
    background: #3289d1;
    color: #ffffff;
  }
  
  /* Toggle Text */
  /* .toggle-text {
    margin-top: 15px;
    font-size: 20px;
  }
  
  .toggle-btn {
    background: none;
    color: #6c55ea;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
  }
  
  .toggle-btn:hover {
    color: #ccc;
  } */

  .dont-have-account {
  text-align: center;
  margin-top: 1rem;
  color: #8d8b8b;
}

.signup-link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
  color: #3289d1;
}

.forgot-password {
  text-align: right;
  margin-top: 0.5rem;
}

.forgot-link {
  color: #9f9fa1;
  text-decoration: none;
  font-size: 1rem;
}

.forgot-link:hover {
  text-decoration: underline;
  color: #3289d1;
}
