.UCP{
    flex-grow: 1;
    padding-left: 20%;
    padding-top: 2%;
    /* background: hsl(0, 0%, 100%); */
    color: #000;
    min-height: 100vh; /* Ensures full-page height */
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.user-details {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  width: 400px;
  height: 500px;
  

  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.user-details p {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}

.user-details strong {
  color: #555;

}

.delailpalet{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-items: center;
}


.avatar {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: solid 3px;
}

.profile-picture {
  text-align: center;
  
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}



